@import url("https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.4);
}

h2, h3, h4 {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 70%;
  margin: auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 80%;
  }
}

hr {
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  height: 1px;
}

h2 {
  font-size: 3rem;
  letter-spacing: 3px;
  padding-top: 60px;
}

/***********************************
h e a d e r 
***********************************/
header {
  background-color: #f3cd52;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f3cd52;
  opacity: .99;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px auto;
}

@media (max-width: 767px) {
  header nav ul {
    margin: 20px auto 15px;
  }
}

header nav ul li a {
  text-transform: uppercase;
  color: #2e2e2e;
  letter-spacing: 2px;
  padding: 30px 45px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-weight: 500;
}

@media (max-width: 767px) {
  header nav ul li a {
    padding: 30px 5px;
    letter-spacing: 0px;
  }
}

header nav ul li a:hover {
  font-weight: 700;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  text-align: center;
  color: #000;
  padding-left: 15%;
}

@media (max-width: 767px) {
  header div {
    padding: 90px 20px 0;
  }
}

header div h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

@media (max-width: 767px) {
  header div h1 {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

header div p {
  text-transform: uppercase;
  padding: 15px;
}

header div img {
  margin-top: 50px;
  width: 100%;
  border: 30px solid #fae9ba;
  border-bottom: none;
}

@media (max-width: 767px) {
  header div img {
    margin-top: 10px;
    border: 15px solid #fae9ba;
  }
}

/***********************************
a b o u t
***********************************/
.about {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
}

@media (max-width: 767px) {
  .about article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about article h3 {
  font-size: 2rem;
}

.about article p {
  padding: 30px 0;
}

.about article button {
  padding: 15px 30px;
  background-color: #f3cd52;
  color: #2e2e2e;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-bottom: 60px;
  outline: none;
}

.about article button:hover {
  background-color: #fae9ba;
}

/***********************************
p o r t f o l i o
***********************************/
.portfolio {
  text-align: center;
}

.portfolio p {
  padding: 20px 0;
}

.portfolio article {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  text-align: center;
}

@media (max-width: 767px) {
  .portfolio article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.portfolio article div img {
  width: 100%;
}

.portfolio article div h4 {
  font-size: 1.7rem;
}

.portfolio article div p {
  padding: 5px 0 30px;
}

.portfolio article div button {
  padding: 15px 30px;
  background-color: #f3cd52;
  color: #2e2e2e;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-bottom: 60px;
  outline: none;
}

.portfolio article div button:hover {
  background-color: #fae9ba;
}

/***********************************
b l o g
***********************************/
.blog {
  text-align: center;
}

.blog p {
  padding: 20px 0;
}

.blog article {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  position: relative;
}

@media (max-width: 767px) {
  .blog article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 50px;
  }
}

.blog article div:hover img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: .4;
}

.blog article div:hover h4, .blog article div:hover p, .blog article div:hover button {
  display: block;
  position: absolute;
  left: 5%;
}

.blog article div:hover h4 {
  top: 2%;
  font-size: 1.6rem;
  text-shadow: 0 0 5px #000;
}

.blog article div:hover p {
  top: 10%;
  right: 5%;
  text-align: left;
  line-height: 1.6;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.blog article div:hover button {
  top: 71%;
  padding: 15px 30px;
  background-color: #f3cd52;
  color: #2e2e2e;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-bottom: 60px;
  outline: none;
  font-size: .9rem;
  padding: 14px 24px;
  margin-bottom: 0;
}

.blog article div:hover button:hover {
  background-color: #fae9ba;
}

.blog article div:hover button:hover {
  background-color: #f3cd52;
}

.blog article div:hover button:active {
  background-color: #fae9ba;
}

.blog article div img {
  width: 100%;
}

.blog article div h4, .blog article div p, .blog article div button {
  display: none;
}

/***********************************
c o n t a c t
***********************************/
.contact {
  text-align: center;
}

.contact p {
  padding: 20px 0;
}

.contact div {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact div input {
  padding: 20px;
  font-size: 1.2rem;
  margin-top: 15px;
  background-color: #2e2e2e;
  border: none;
}

.contact div textarea {
  margin: 15px 0;
  background-color: #2e2e2e;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  font-family: "Pontano Sans", sans-serif;
}

.contact button {
  padding: 15px 30px;
  background-color: #f3cd52;
  color: #2e2e2e;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-bottom: 60px;
  outline: none;
  margin-bottom: 0;
}

.contact button:hover {
  background-color: #fae9ba;
}

.contact ul {
  margin: 20px auto 70px;
}

.contact ul li {
  display: inline-block;
}

.contact ul li a {
  padding: 20px;
  font-size: 1.4rem;
}

.contact ul li a i {
  padding: 20px;
  background-color: #f3cd52;
  color: #2e2e2e;
}
/*# sourceMappingURL=style.css.map */