@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');

$fontFamily: 'Quicksand', sans-serif;
$font: 16px;
$lineHeight: 1.6;
$black: #000;
$orange: #ff8a0e;
$gray: #515151;
$lightGray: #f5f5f5;
$white: #fff;
$padding: 70px 0;
$transition: .3s ease;

body {
    font-family: $fontFamily;
    font-size: $font;
    line-height: $lineHeight;
    color: $gray;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 90%;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1, h2, h3, h4, h5 {
    font-weight: 700;
}
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin hr {
    border: none;
    background-color: $orange;
    height: 3px;
    width: 80px;
    margin: 20px auto;
}
@mixin btn {
    padding: 15px 55px;
    background-color: $orange;
    color: $white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 10px;
    transition: $transition;
    &:hover {
        background-color: $gray;
    }
}
/*****************
header
*****************/
header {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    position: relative;
    nav {
        @include flex( center, flex-start, column);
        height: 58vh;
        @media (max-width: 767px) {
            @include flex( flex-end, flex-start, column);
            height: 54vh;
        }
        .logo {
            font-size: 2.8rem;
            font-weight: 700;
            color: $white;
            background-color: $black;
            padding: 15px 50px;
            @media (max-width: 767px) {
                font-size: 2rem;
            }
        }
        ul {
            @include flex( space-evenly, center, row);
            padding: 10px 0;
            width: 41%;
            background-color: $orange;
            margin-top: 10px;
            @media (max-width: 767px) {
                width: 98%;
                @include flex( space-around, center, row);
            }
            li {
                a {
                    color: $white;
                    transition: $transition;
                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        } 
    }
    div {
        position: absolute;
        display: block;
        bottom: 0%;
        left: 0%;
        right: 0%;
        height: 20px;
        background-color: $black;
        opacity: .5;
        @media (max-width: 767px) {
            background-color: $gray;
            bottom: -10px;
            height: 10px;
        }
    }
}
/*****************
about
*****************/
.about {
    padding: $padding;
    background-color: $lightGray;
    article {
        text-align: center;
        h2 {
            font-size: 2.8rem;
            @media (max-width: 767px) {
                font-size: 2rem;
                line-height: 1.4;
            }
        }
        hr {
            @include hr;
        }
        p {
            padding-top: 20px;
        }
    }
}
/*****************
products
*****************/
.products {
    padding: $padding;
    text-align: center;
    h3 {
        font-size: 2rem;
        @media (max-width: 767px) {
            font-size: 1.8rem;
            line-height: 1.4;
        }
    }
    hr {
        @include hr;
    }
    article {
        @include flex( space-between, center, row);
        div {
            flex: 0 0 31%;
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
            h4 {
                font-size: 1.6rem;
            }
            p {
                padding: 20px 0;
            }
            button {
                @include btn;
                @media (max-width: 767px) {
                    margin: 0 auto 40px;
                }
            }
        }
    }
}

