@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #515151;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

/*****************
header
*****************/
header {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 58vh;
}

@media (max-width: 767px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 54vh;
  }
}

header nav .logo {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 15px 50px;
}

@media (max-width: 767px) {
  header nav .logo {
    font-size: 2rem;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  width: 41%;
  background-color: #ff8a0e;
  margin-top: 10px;
}

@media (max-width: 767px) {
  header nav ul {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header nav ul li a {
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav ul li a:hover {
  font-weight: 700;
}

header div {
  position: absolute;
  display: block;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 20px;
  background-color: #000;
  opacity: .5;
}

@media (max-width: 767px) {
  header div {
    background-color: #515151;
    bottom: -10px;
    height: 10px;
  }
}

/*****************
about
*****************/
.about {
  padding: 70px 0;
  background-color: #f5f5f5;
}

.about article {
  text-align: center;
}

.about article h2 {
  font-size: 2.8rem;
}

@media (max-width: 767px) {
  .about article h2 {
    font-size: 2rem;
    line-height: 1.4;
  }
}

.about article hr {
  border: none;
  background-color: #ff8a0e;
  height: 3px;
  width: 80px;
  margin: 20px auto;
}

.about article p {
  padding-top: 20px;
}

/*****************
products
*****************/
.products {
  padding: 70px 0;
  text-align: center;
}

.products h3 {
  font-size: 2rem;
}

@media (max-width: 767px) {
  .products h3 {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

.products hr {
  border: none;
  background-color: #ff8a0e;
  height: 3px;
  width: 80px;
  margin: 20px auto;
}

.products article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

@media (max-width: 767px) {
  .products article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.products article div h4 {
  font-size: 1.6rem;
}

.products article div p {
  padding: 20px 0;
}

.products article div button {
  padding: 15px 55px;
  background-color: #ff8a0e;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.products article div button:hover {
  background-color: #515151;
}

@media (max-width: 767px) {
  .products article div button {
    margin: 0 auto 40px;
  }
}
/*# sourceMappingURL=style.css.map */