@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');

$fontFamily: 'Quicksand', sans-serif;
$font: 16px;
$lineHeight: 1.6;
$black: #000;
$orange: #ff8a0e;
$gray: #515151;
$lightGray: #f5f5f5;
$white: #fff;
$padding: 70px 0;
$transition: .3s ease;

body {
    font-family: $fontFamily;
    font-size: $font;
    line-height: $lineHeight;
    color: $gray;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
/*****************
header
*****************/
header {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    position: relative;
    nav {
        @include flex( center, flex-start, column);
        height: 58vh;
        .logo {
            font-size: 2.8rem;
            font-weight: 700;
            color: $white;
            background-color: $black;
            padding: 15px 50px;
        }
        ul {
            @include flex( space-evenly, center, row);
            padding: 10px 0;
            width: 41%;
            background-color: $orange;
            margin-top: 10px;
            li {
                a {
                    color: $white;
                    transition: $transition;
                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        } 
    }
    div {
        position: absolute;
        display: block;
        bottom: 0%;
        left: 0%;
        right: 0%;
        height: 20px;
        background-color: black;
        opacity: .5;
    }
    
}

