@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');
:root {
    --pink: #f20f97;
    --black: #000;
    --white: #fff;
    --transition: .4s ease;
    --gray: gray;
    --mediGray: #ddd;
    --lightgray: #f8f8f8;
    --fontBody: 'Montserrat', sans-serif;
    --fontHeadings: 'Raleway', sans-serif;
    --fontSize: 16px;
}
/*********************
general style
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--fontBody);
    font-size: var(--fontSize);
    font-weight: 400;
    line-height: 1.8;
    background-color: var(--white);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontHeadings);
    font-weight: 700;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 90%;
    margin: auto;
    padding: 50px 0;
}
button {
    padding: 15px 40px;
    background-color: var(--white);
    border-radius: 30px;
    cursor: pointer;
    font-size: var(--fontSize);
    border: 1px solid var(--black);
}
button:hover {
    transition: var(--transition);
    background-color: var(--black);  
    color: var(--lightgray);
}
hr {
    border: none;
    background-color: var(--black);
    opacity: .5;
    height: 2px;
}
/*********************
header
*********************/
header {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 91vh;
}
header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo {
    color: var(--lightgray);
    font-size: 2rem;
}
.logo span {
    font-weight: 700;
    font-style: italic;
}
header ul {
    display: flex;
}
header ul li a {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.2rem;
    opacity: .85;
    margin-left: 60px;
    letter-spacing: 2px;
}
header ul li a:hover {
    transition: var(--transition);
    color: var(--white);
    opacity: 1;
}
header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
header div h1 {
    color: var(--lightgray);
    font-size: 4rem;
}
header div h4 {
    color: var(--lightgray);
    font-size: 1.2rem;
}
header div p {
    color: var(--lightgray);
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 15px;
}
/*********************
about
*********************/
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about article:first-child {
    flex: 0 0 58%;
}
.about article h2 {
    font-size: 3rem;
    padding-bottom: 20px;
}
.about article h4 {
    font-size: 1.2rem;
}
.about article hr {
    background-color: var(--pink);
    width: 200px;
    margin: 20px 0 25px;
}
.about article p {
   margin-bottom: 25px;
}
.about article:last-child {
    flex: 0 0 38%;
}
.about article img {
    width: 100%;
    box-shadow: 0px 0px 30px var(--gray);
    border-radius: 30px;
}
/*********************
numbers
*********************/
.numbers article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.numbers div {
    flex: 0 0 20%;
    text-align: center;
}
.numbers h2 {
    font-size: 3rem;
}
.numbers div hr {
    width: 65px;
    margin: 25px auto;
}
.numbers h5 {
    font-size: 1.1rem;
}
/*********************
team
*********************/
.team article {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.team article div:first-child {
    flex: 0 0 30%;
    display: flex;
}
.team div img {
    width: 100%;
}
.team article div:last-child {
    flex: 0 0 68%;
}
.team h4 {
    font-size: 1.2rem;
    position: relative;
}
.team h4:after {
    content: "";
    display: block;
    width: 65%;
    height: 2px;
    background-color: var(--pink);
    position: absolute;
    left: -16%;
    top: 140%;
}
.team p {
    padding-top: 30px;
}
.team article:nth-child(odd) {
    margin-left: auto;
}
.team article:nth-child(odd) div:last-child {
    order: -1;
    text-align: right;
}
.team article:nth-child(odd) h4:after {
    left: 52%;
}
/*********************
services
*********************/
.services article {
    display: flex;
    justify-content: space-between;
    
}
.services article div {
    flex: 0 0 30%;  
}
.services img {
    width: 100%;
    box-shadow: 0px 0px 30px var(--gray);
    border-radius: 30px;
}
.services article .first,
.services article .third {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.services h3 {
    color: var(--pink);
    font-size: 1.5rem;
}
/*********************
gallery
*********************/
.gallery h2 {
    font-size: 3rem;
}
.gallery h4 {
    font-size: 1.2rem;
}
.gallery hr {
    background-color: var(--pink);
    width: 300px;
    margin: 20px 0 25px;
}
.gallery article:last-child {
    background-color: var(--lightgray);
}
.gallery article:last-child .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery article .holder {
    flex: 0 0 23%;
    padding-bottom: 40px;
}
.gallery article .holder .gallery-image{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.gallery article .holder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery-image h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    font-size: 1rem;
    background-color: var(--pink);
    padding: 5px;
    opacity: .75;
    transform: translate(-50%, -50%);
}
/*********************
contact
*********************/
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact article:first-child {
    flex: 0 0 58%;
}
.contact input, .contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    color: var(--mediGray);
    border: 1px solid var(--mediGray);
    font-size: 1rem;
    font-family: var(--fontBody);
}
.contact article:last-child {
    flex: 0 0 38%;
}
.contact article img {
    width: 100%;
    box-shadow: 0px 0px 30px var(--gray);
    border-radius: 30px;
}
/*********************
footer
*********************/
footer .infos {
    text-align: center;
}
footer .infos h3 {
    color: var(--pink);
    font-size: 1.5rem;
}
footer .infos h5 {
    font-size: 1rem;
    padding-top: 10px;
}
footer section:last-child {
    background-color: var(--mediGray);
}
footer section:last-child article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer article p i {
    color: var(--pink);
}
footer ul {
    padding-right: 15%;
}
footer ul li {
    display: inline;
}
footer ul li a {
    font-size: 1.4rem;
    padding: 0 22px;
    color: var(--pink);
    opacity: .8;
}
footer ul li a:hover {
    transition: var(--transition);
    color: var(--pink);
    opacity: 1;
}

/*********************
responsive
*********************/
@media (max-width: 1190px) {
    .logo {
        font-size: 1.7rem;
    }
    .logo span {
        font-weight: 400;
    }
    header ul li a {
        font-size: 1.1rem;
        margin-left: 45px;
        letter-spacing: 1px;
    }
    header div h1 {
        font-size: 3.6rem;
    }
    header div h4, header div p {
        font-size: 1.1rem;
    }
    .about article:first-child {
        flex: 0 0 56%;
    }
    .about article h2 {
        font-size: 2.7rem;
        padding-bottom: 15px;
    }
    .about article h4 {
        font-size: 1.1rem;
    }
    .about article p {
       margin-bottom: 22px;
    }
    .about article:last-child {
        flex: 0 0 40%;
    }
    .numbers h2 {
        font-size: 2.7rem;
    }
    .numbers div hr {
        margin: 10px auto 14px;
    }
    .services article {
        align-items: center;
    }
    .services article .first div,
    .services article .third div {
        padding-bottom: 8px;
    }
    .services h3 {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .gallery h2 {
        font-size: 2.7rem;
    }
}
@media (max-width: 990px) {
    .logo {
        font-size: 1.6rem;
        align-self: flex-start;
    }
    header .nav {
        flex-direction: column;
    }
    header ul {
        padding-top: 10px;
    }
    header div {
        height: 60vh;
    }
    header div h1 {
        font-size: 3rem;
    }
    .about article h2, .gallery h2 {
        font-size: 2.4rem;
    }
    .gallery h4 {
        font-size: 1.1rem;
    }
    .gallery article .holder {
        flex: 0 0 47%;
    }

}
@media (max-width: 768px) {
    body {
        line-height: 1.7;
    }
    header {
        height: 100vh;
    }
    header .nav {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .logo {
        font-size: 1.3rem;
    }
    header ul {
        flex-direction: column;
        align-items: center;
    }
    header ul li {
        padding-bottom: 5px;
    }
    header ul li a {
        margin-left: 0;
    }
    header div {
        align-items: flex-start;
        padding-left: 10px;
        height: 45vh;
    }
    header div h1 {
        font-size: 2.7rem;
        line-height: 1.3;
    }
    header div h4 {
        padding-bottom: 15px;
        font-weight: 400;
    }
    .about article:first-child {
        flex: 0 0 100%;
    }
    .about article h2 {
        padding-bottom: 18px;
        line-height: 1.5;
        font-size: 2.2rem;
    }
    .about article:last-child {
        flex: 0 0 100%;
        padding-top: 15px;
    }
    .numbers div {
        flex: 0 0 40%;
        text-align: center;
    }
    .numbers h2 {
        font-size: 2.4rem;
    }
    .numbers div {
        padding-bottom: 10px;
    }
    .numbers div hr {
        width: 45px;
        margin: 8px auto 12px;
    }
    .numbers h5 {
        font-size: 1rem;
    }
    .team article {
        width: 100%;
        flex-direction: column;
    }
    .team article div:first-child {
        flex: 0 0 100%;
    }
    .team div img {
        padding-top: 20px;
    }
    .team article div:last-child {
        flex: 0 0 100%;
    }
    .team h4 {
        font-size: 1.3rem;
    }
    .team h4:after {
        left: 0%;
        top: 108%;
        width: 40%;
    }
    .team p {
        padding-top: 10px;
    }
    .team article:nth-child(odd) div:last-child {
        order: 2;
        text-align: left;
    }
    .team article:nth-child(odd) h4:after {
        left: 0%;
    }
    .services article {
        flex-direction: column; 
    }
    .services article .second {
        padding: 10px 0;
    }
    .services article div {
        flex: 0 0 100%;  
    }
    .services h3 {
        font-size: 1.3rem;
    }
    .gallery hr {
        width: 90%;
        margin: 20px auto 0;
    }
    .gallery article .holder {
        flex: 0 0 100%;
    }
    .gallery-image h5 {
        font-size: 1.1rem;
    }
    .contact article:first-child {
        flex: 0 0 100%;
    }
    .contact article:last-child {
        flex: 0 0 100%;
    }
    button {
        margin-bottom: 20px;
    }
    footer section:last-child article {
        flex-direction: column;
    }
    footer ul {
        padding-right: 0;
        padding-top: 20px;
    }

}





