@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');
:root {
    --pink: #f20f97;
    --black: #000;
    --white: #fff;
    --transition: .4s ease;
    --gray: gray;
    --lightgray: #f8f8f8;
    --fontBody: 'Montserrat', sans-serif;
    --fontHeadings: 'Raleway', sans-serif;
    --fontSize: 16px;
}
/*********************
general style
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontBody);
    font-size: var(--fontSize);
    font-weight: 400;
    line-height: 1.8;
    background-color: var(--lightgray);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontHeadings);
}
h1 {
    font-weight: 900;
}
h2, h3, h4 {
    font-weight: 700;
}
