@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');
:root {
    --pink: #f20f97;
    --black: #000;
    --white: #fff;
    --transition: .4s ease;
    --gray: gray;
    --lightgray: #f8f8f8;
    --fontBody: 'Montserrat', sans-serif;
    --fontHeadings: 'Raleway', sans-serif;
    --fontSize: 16px;
}
/*********************
general style
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontBody);
    font-size: var(--fontSize);
    font-weight: 400;
    line-height: 1.8;
    background-color: var(--white);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontHeadings);
    font-weight: 700;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 90%;
    margin: auto;
    padding: 50px 0;
}
button {
    padding: 15px 40px;
    background-color: var(--white);
    border-radius: 30px;
    cursor: pointer;
    font-size: var(--fontSize);
    border: 1px solid var(--black);
}
button:hover {
    transition: var(--transition);
    background-color: var(--black);  
    color: var(--lightgray);
}
/*********************
header
*********************/
header {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 0;
}
.logo {
    color: var(--lightgray);
    font-size: 2rem;
}
.logo span {
    font-weight: 700;
    font-style: italic;
}
header ul {
    display: flex;
}
header ul li a {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.2rem;
    opacity: .8;
    margin-left: 60px;
    letter-spacing: 2px;
}
header ul li a:hover {
    transition: var(--transition);
    color: var(--white);
    opacity: 1;
}
header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
header div h1 {
    color: var(--lightgray);
    font-size: 4rem;
}
header div h4 {
    color: var(--lightgray);
    font-size: 1.2rem;
}
header div p {
    color: var(--lightgray);
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 15px;
}
/*********************
about
*********************/
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about article:first-child {
    flex: 0 0 58%;
}
.about article h2 {
    font-size: 3rem;
    line-height: 2.5;
}
.about article h4 {
    font-size: 1.2rem;
}
.about article hr {
    border: none;
    background-color: var(--pink);
    height: 2px;
    width: 200px;
    margin: 20px 0 25px;
}
.about article p {
    margin-bottom: 25px;
}
.about article:last-child {
    flex: 0 0 38%;
}
.about article img {
    width: 100%;
    box-shadow: 0px 0px 30px var(--gray);
    border-radius: 30px;
}
